* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cube: 10vw;
  --cubeMinus: -10vw;
  --doubleCubeMinus: -20vw;
  --secondRow: 15vw;
  --thirdRow: 30vw;
  --portSize: 40vw;
}
@media screen and (orientation: portrait) {
  :root {
    --cube: 10vh;
    --cubeMinus: -10vh;
    --secondRow: 15vh;
    --thirdRow: 30vh;
    --doubleCubeMinus: -20vh;
    --portSize: 40vh;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(from 90deg at 50% 50%, #3a60a3 0%, #171e51 51%, #3a60a3 100%);
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 55rem;
}

.port {
  position: relative;
  transform-style: preserve-3d;
  width: var(--portSize);
  height: var(--portSize);
  margin: auto;
  transform: translateZ(-100px);
}
.port .layers {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.port .layers .Skybox .Skybox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.port .layers .Skybox .Skybox-position {
  position: relative;
  cursor: pointer;
  transform: translateZ(0);
  transform-style: preserve-3d;
}
.port .layers .Skybox .Skybox-rotor-x,
.port .layers .Skybox .Skybox-rotor-y {
  transform-style: preserve-3d;
}
.port .layers .Skybox .Skybox-faces {
  position: relative;
  width: 0;
  height: 0;
  top: 20vw;
  margin: 0 auto;
  transform-style: preserve-3d;
}
.port .layers .Skybox .Skybox-face {
  position: absolute;
  display: block;
  width: 200vh;
  height: 200vh;
  left: -100vh;
  top: -100vh;
  backface-visibility: hidden;
  background: url(./stars.png) 100%;
  background-size: 400% 300%;
}
.port .layers .Skybox .Skybox-face-left {
  transform: translate3d(-99.9vh, 0, 0) rotate3d(0, 1, 0, 90deg);
}
.port .layers .Skybox .Skybox-face-back {
  transform: translate3d(0, 0, -99.9vh);
  background-position: 25% 0%;
}
.port .layers .Skybox .Skybox-face-right {
  transform: translate3d(99.9vh, 0, 0) rotate3d(0, 1, 0, -90deg);
}
.port .layers .Skybox .Skybox-face-front {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, -99.9vh);
}
.port .layers .Skybox .Skybox-face-up {
  transform: translate3d(0, -99.9vh, 0) rotate3d(1, 0, 0, -90deg) rotate3d(0, 0, 1, -180deg);
}
.port .layers .Skybox .Skybox-face-down {
  transform: translate3d(0, 99.9vh, 0) rotate3d(1, 0, 0, 90deg) rotate3d(0, 0, 1, 180deg);
}
.port .layers .layer {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.port .layers .layer__back .cube, .port .layers .layer__center .cube, .port .layers .layer__front .cube {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: var(--cube);
  height: var(--cube);
  background: none;
}
.port .layers .layer__back .cube--00, .port .layers .layer__back .cube--03, .port .layers .layer__back .cube--06, .port .layers .layer__center .cube--00, .port .layers .layer__center .cube--03, .port .layers .layer__center .cube--06, .port .layers .layer__front .cube--00, .port .layers .layer__front .cube--03, .port .layers .layer__front .cube--06 {
  left: 0;
}
.port .layers .layer__back .cube--01, .port .layers .layer__back .cube--04, .port .layers .layer__back .cube--07, .port .layers .layer__center .cube--01, .port .layers .layer__center .cube--04, .port .layers .layer__center .cube--07, .port .layers .layer__front .cube--01, .port .layers .layer__front .cube--04, .port .layers .layer__front .cube--07 {
  left: var(--secondRow);
}
.port .layers .layer__back .cube--02, .port .layers .layer__back .cube--05, .port .layers .layer__back .cube--08, .port .layers .layer__center .cube--02, .port .layers .layer__center .cube--05, .port .layers .layer__center .cube--08, .port .layers .layer__front .cube--02, .port .layers .layer__front .cube--05, .port .layers .layer__front .cube--08 {
  left: var(--thirdRow);
}
.port .layers .layer__back .cube--00, .port .layers .layer__back .cube--01, .port .layers .layer__back .cube--02, .port .layers .layer__center .cube--00, .port .layers .layer__center .cube--01, .port .layers .layer__center .cube--02, .port .layers .layer__front .cube--00, .port .layers .layer__front .cube--01, .port .layers .layer__front .cube--02 {
  top: 0;
}
.port .layers .layer__back .cube--03, .port .layers .layer__back .cube--04, .port .layers .layer__back .cube--05, .port .layers .layer__center .cube--03, .port .layers .layer__center .cube--04, .port .layers .layer__center .cube--05, .port .layers .layer__front .cube--03, .port .layers .layer__front .cube--04, .port .layers .layer__front .cube--05 {
  top: var(--secondRow);
}
.port .layers .layer__back .cube--06, .port .layers .layer__back .cube--07, .port .layers .layer__back .cube--08, .port .layers .layer__center .cube--06, .port .layers .layer__center .cube--07, .port .layers .layer__center .cube--08, .port .layers .layer__front .cube--06, .port .layers .layer__front .cube--07, .port .layers .layer__front .cube--08 {
  top: var(--thirdRow);
}
.port .layers .layer__back .cube .X, .port .layers .layer__back .cube .Y, .port .layers .layer__back .cube .Z, .port .layers .layer__center .cube .X, .port .layers .layer__center .cube .Y, .port .layers .layer__center .cube .Z, .port .layers .layer__front .cube .X, .port .layers .layer__front .cube .Y, .port .layers .layer__front .cube .Z {
  width: var(--cube);
  height: var(--cube);
  background: inherit;
  backface-visibility: visible;
}
.port .layers .layer__back .cube .Z, .port .layers .layer__center .cube .Z, .port .layers .layer__front .cube .Z {
  transform: rotateZ(90deg);
}
.port .layers .layer__back .cube .X, .port .layers .layer__center .cube .X, .port .layers .layer__front .cube .X {
  transform: translateY(var(--cubeMinus)) rotateX(90deg);
}
.port .layers .layer__back .cube .Y, .port .layers .layer__center .cube .Y, .port .layers .layer__front .cube .Y {
  transform: translateY(var(--doubleCubeMinus)) rotateY(90deg);
}
.port .layers .layer__back .cube .X, .port .layers .layer__back .cube .Y, .port .layers .layer__back .cube .Z, .port .layers .layer__front .cube .X, .port .layers .layer__front .cube .Y, .port .layers .layer__front .cube .Z {
  background: rgba(14, 70, 154, 0.363);
}
.port .layers .layer__front {
  transform: translateZ(150px);
  animation: spinFront 10s 2s ease-in infinite alternate;
}
.port .layers .layer__back {
  transform: translateZ(-150px);
  animation: spinBack 10s 1s ease-in infinite alternate;
}
.port .layers .layer__center {
  transform: translateZ(0px);
  animation: spinCenter 7s 5s linear infinite;
}
.port .layers .layer__center .cube--04 .X, .port .layers .layer__center .cube--04 .Y, .port .layers .layer__center .cube--04 .Z {
  visibility: visible;
  border-radius: 50%;
  background: conic-gradient(from 90deg at 50% 50%, #474daa 0%, #171e51 51%, #474daa 100%);
  animation: pulse 1s 3s ease-in-out infinite alternate;
}
.port .layers .layer__center .cube--01, .port .layers .layer__center .cube--03, .port .layers .layer__center .cube--05, .port .layers .layer__center .cube--07 {
  animation: spinCenter 3s 2s ease-out infinite;
  background: none;
}
.port .layers .layer__center .cube--01 .X, .port .layers .layer__center .cube--01 .Y, .port .layers .layer__center .cube--01 .Z, .port .layers .layer__center .cube--03 .X, .port .layers .layer__center .cube--03 .Y, .port .layers .layer__center .cube--03 .Z, .port .layers .layer__center .cube--05 .X, .port .layers .layer__center .cube--05 .Y, .port .layers .layer__center .cube--05 .Z, .port .layers .layer__center .cube--07 .X, .port .layers .layer__center .cube--07 .Y, .port .layers .layer__center .cube--07 .Z {
  border-radius: 50%;
  background: rgba(8, 46, 182, 0.329);
  visibility: visible;
}
@keyframes spinXYZ {
  100% {
    transform: rotate3d(1, -2, -1, 1turn);
  }
}
@keyframes spinCenter {
  100% {
    transform: translateZ(0px) rotateZ(360deg);
  }
}
@keyframes spinFront {
  100% {
    transform: translateZ(450px) rotateZ(360deg);
  }
}
@keyframes spinBack {
  100% {
    transform: translateZ(-450px) rotateZ(360deg);
  }
}
@keyframes pulse {
  100% {
    background: conic-gradient(from 90deg at 50% 50%, #aa4747 0%, #511717 51%, #aa4747 100%);
  }
}/*# sourceMappingURL=style.css.map */