* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cube: 10vw;
    --cubeMinus: -10vw;
    --doubleCubeMinus: -20vw;
    --secondRow: 15vw;
    --thirdRow: 30vw;
    --portSize: 40vw;
    @media screen and (orientation: portrait) {
        --cube: 10vh;
        --cubeMinus: -10vh;
        --secondRow: 15vh;
        --thirdRow: 30vh;
        --doubleCubeMinus: -20vh;
        --portSize: 40vh;
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from 90deg at 50% 50%, #3a60a3 0%, #171e51 51%, #3a60a3 100%);
}

.root {
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 55rem;

}

.port {
    position: relative;
    transform-style: preserve-3d;
    width: var(--portSize);
    height: var(--portSize);
    margin: auto;
    transform: translateZ(-100px);

    
    .layers {
        position: relative;
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        .Skybox {
            .Skybox {
                width: 100%;
                height: 100%;
                overflow: hidden;
                perspective: 480;
              }
              
              .Skybox-position {
                position: relative;
                cursor: pointer;
                transform: translateZ(0);
                transform-style: preserve-3d;
              }
              
              .Skybox-rotor-x,
              .Skybox-rotor-y {
                transform-style: preserve-3d;
              }
              
              .Skybox-faces {
                position: relative;
                width: 0;
                height: 0;
                top: 20vw;
                margin: 0 auto;
                transform-style: preserve-3d;
              }
              
              .Skybox-face {
                position: absolute;
                display: block;
                width: 480px;
                height: 480px;
                left: -240px;
                top: -240px;
                backface-visibility: hidden;
              }
              
              .Skybox-face-left {
                transform: translate3d(-239.5px, 0, 0) rotate3d(0, 1, 0, 90deg);
              }
              
              .Skybox-face-back {
                transform: translate3d(0, 0, -239.5px);
              }
              
              .Skybox-face-right {
                transform: translate3d(239.5px, 0, 0) rotate3d(0, 1, 0, -90deg);
              }
              
              .Skybox-face-front {
                transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, -239.5px);
              }
              
              .Skybox-face-up {
                transform: translate3d(0, -239.5px, 0) rotate3d(1, 0, 0, -90deg) rotate3d(0, 0, 1, -180deg);
              }
              
              .Skybox-face-down {
                transform: translate3d(0, 239.5px, 0) rotate3d(1, 0, 0, 90deg) rotate3d(0, 0, 1, 180deg);
              }
              
        }
        .layer {
            position: absolute;
            top: 0;
            left: 0;
            transform-style: preserve-3d;
            width: 100%;
            height: 100%;
        

            &__back .cube, &__center .cube, &__front .cube {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform-style: preserve-3d;
                    width: var(--cube);
                    height: var(--cube);
                    background: none;
        
                    &--00, &--03, &--06 {
                        left: 0;
                    }
        
                    &--01, &--04, &--07 {
                        left: var(--secondRow);
                    }
        
                    &--02, &--05, &--08 {
                        left: var(--thirdRow);
                    }
        
                    &--00, &--01, &--02 {
                        top: 0;
                    }
        
                    &--03, &--04, &--05 {
                        top: var(--secondRow);
                    }
        
                    &--06, &--07, &--08 {
                        top: var(--thirdRow);
                    }
    
                    .X, .Y, .Z {
                        width: var(--cube);
                        height: var(--cube);
                        background: inherit;
                        backface-visibility: visible;
                    }
    
                    .Z {
                        transform: rotateZ(90deg);
                    }
                    
                    .X {
                        transform: translateY(var(--cubeMinus)) rotateX(90deg);
                    }
                    
                    .Y {
                        transform: translateY(var(--doubleCubeMinus)) rotateY(90deg);
                    }
            }
        
            &__back .cube, &__front .cube {
                .X, .Y, .Z {
                    background: rgba(14, 70, 154, 0.363);

                }
    
            }
        
            &__front {
                transform: translateZ(150px);
                animation: spinFront 10s 2s ease-in infinite alternate;
            }
        
            &__back {
                transform: translateZ(-150px);
                animation: spinBack 10s 1s ease-in infinite alternate;
            }
            
            &__center {
                transform: translateZ(0px);
                animation: spinCenter 7s 5s linear infinite;
                
                .cube {
    
                    &--04 {
                        .X, .Y, .Z {
                            visibility: visible;
                            border-radius: 50%;
                            background: conic-gradient(from 90deg at 50% 50%, #474daa 0%, #171e51 51%, #474daa 100%);
                            animation: pulse 1s 3s ease-in-out infinite alternate;
                        }
                    }
    
                    &--01, &--03, &--05, &--07 {
                        animation: spinCenter 3s 2s ease-out infinite;
                        background: none;
    
                        .X, .Y, .Z {
                            border-radius: 50%;
                            background: rgba(8, 46, 182, 0.329);
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    
    @keyframes spinXYZ {
        100% {
            -webkit-transform: rotate3d(1, -2, -1, 1turn);
            transform: rotate3d(1, -2, -1, 1turn);
        }
    }
    
    @keyframes spinCenter {
        100% {
            transform: translateZ(0px) rotateZ(360deg);
        }
    }
    
    @keyframes spinFront {
        100% {
            transform: translateZ(450px) rotateZ(360deg);
        }
    }
    
    @keyframes spinBack {
        100% {
            transform: translateZ(-450px) rotateZ(360deg);
        }
    }
    
    @keyframes pulse {
        100% {
            background: conic-gradient(from 90deg at 50% 50%, #aa4747 0%, #511717 51%, #aa4747 100%);
        }
    }
}
