* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cube: 10vw;
    --cubeMinus: -10vw;
    --doubleCubeMinus: -20vw;
    --secondRow: 15vw;
    --thirdRow: 30vw;
    --portSize: 40vw;

    @media screen and (orientation: portrait) {
        --cube: 10vh;
        --cubeMinus: -10vh;
        --secondRow: 15vh;
        --thirdRow: 30vh;
        --doubleCubeMinus: -20vh;
        --portSize: 40vh;
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from 90deg at 50% 50%, #3a60a3 0%, #171e51 51%, #3a60a3 100%);
}

.root {
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 55rem;
}

.port {
    position: relative;
    transform-style: preserve-3d;
    width: var(--portSize);
    height: var(--portSize);
    margin: auto;
    transform: translateZ(-100px);

    .clip {
        box-sizing: content-box;
        clip-path: circle(49%);
        width: var(--cube);
        height: var(--cube);
        background: inherit;
        backface-visibility: visible;
        visibility: visible;
        border-radius: 50%;
        // border: 1px solid beige;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: radial-gradient(circle at 75% 15%,
                #fcf3a5 0%,
                #c5ba78 23%,
                #998a69 35%,
                #2e3a42 60%,
                black 90%);
    }

    .layers {
        position: relative;
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        animation: spinXYZ 33s 0s linear infinite;

        .Skybox {
            .Skybox {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .Skybox-position {
                position: relative;
                cursor: pointer;
                transform: translateZ(0);
                transform-style: preserve-3d;
            }

            .Skybox-rotor-x,
            .Skybox-rotor-y {
                transform-style: preserve-3d;
            }

            .Skybox-faces {
                position: relative;
                width: 0;
                height: 0;
                top: 20vw;
                margin: 0 auto;
                transform-style: preserve-3d;

            }

            .Skybox-face {
                position: absolute;
                display: block;
                width: 200vh;
                height: 200vh;
                left: -100vh;
                top: -100vh;
                backface-visibility: hidden;
                background: url(./stars.png) 100%;
                background-size: 400% 300%;
                background-attachment: fixed;
                background-blend-mode: darken;
            }

            .Skybox-face-left {
                transform: translate3d(-99.9vh, 0, 0) rotate3d(0, 1, 0, 90deg);
                background-position: 0% 50%;
            }

            .Skybox-face-back {
                transform: translate3d(0, 0, -99.9vh);
                background-position: 33.33% 50%;
            }

            .Skybox-face-right {
                transform: translate3d(99.9vh, 0, 0) rotate3d(0, 1, 0, -90deg);
                background-position: 66.7% 50%;
            }

            .Skybox-face-front {
                transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, -99.9vh);
                background-position: 100% 50%;
            }

            .Skybox-face-up {
                transform: translate3d(0, -99.9vh, 0) rotate3d(1, 0, 0, -90deg) rotate3d(0, 0, 1, 0deg);
                background-position: 33.3% 0%;
            }

            .Skybox-face-down {
                transform: translate3d(0, 99.9vh, 0) rotate3d(1, 0, 0, 90deg) rotate3d(0, 0, 1, 0deg);
                background-position: 33.3% 100%;
            }

        }

        .layer {
            position: absolute;
            top: 0;
            left: 0;
            transform-style: preserve-3d;
            width: 100%;
            height: 100%;


            &__back .cube,
            &__center .cube,
            &__front .cube {
                position: absolute;
                top: 0;
                left: 0;
                transform-style: preserve-3d;
                width: var(--cube);
                height: var(--cube);
                background: none;

                &--00,
                &--03,
                &--06 {
                    left: 0;
                }

                &--01,
                &--04,
                &--07 {
                    left: var(--secondRow);
                }

                &--02,
                &--05,
                &--08 {
                    left: var(--thirdRow);
                }

                &--00,
                &--01,
                &--02 {
                    top: 0;
                }

                &--03,
                &--04,
                &--05 {
                    top: var(--secondRow);
                }

                &--06,
                &--07,
                &--08 {
                    top: var(--thirdRow);
                }

                .X,
                .Y,
                .Z {
                    width: var(--cube);
                    height: var(--cube);
                    background: inherit;
                    backface-visibility: visible;
                    visibility: visible;
                    border-radius: 50%;
                    border: 2px solid beige;
                }

            }

            &__center {
                transform: translateZ(0px);
                animation: spinCenter 5s linear infinite;

                .cube {

                    &--04 {

                        :nth-child(1) {
                            transform: translateY(0) rotateY(0deg);
                        }

                        ;

                        :nth-child(2) {
                            transform: translateY(var(--cubeMinus)) rotateY(36deg);
                        }

                        :nth-child(3) {
                            transform: translateY(var(--doubleCubeMinus)) rotateY(72deg);
                        }

                        ;

                        :nth-child(4) {
                            transform: translateY(calc(var(--doubleCubeMinus) + var(--cubeMinus))) rotateY(108deg);
                        }

                        ;

                        :nth-child(5) {
                            transform: translateY(calc(var(--doubleCubeMinus) *2)) rotateY(144deg);
                        }

                        :nth-child(6) {
                            transform: translateY(calc(var(--doubleCubeMinus) *2 + var(--cubeMinus))) rotateX(0deg);
                        }

                        :nth-child(7) {
                            transform: translateY(calc(var(--doubleCubeMinus) *3)) rotateX(36deg);
                        }

                        ;

                        :nth-child(8) {
                            transform: translateY(calc(var(--doubleCubeMinus) *3 + var(--cubeMinus))) rotateX(72deg);
                        }

                        :nth-child(9) {
                            transform: translateY(calc(var(--doubleCubeMinus) *4)) rotateX(108deg);
                        }

                        :nth-child(10) {
                            transform: translateY(calc(var(--doubleCubeMinus) *4 + var(--cubeMinus))) rotateX(144deg);
                        }

                        :nth-child(11) {
                            transform: translateY(calc(var(--doubleCubeMinus) *5)) rotateY(0deg);
                        }

                        :nth-child(12) {
                            transform: translateY(calc(var(--doubleCubeMinus) *5 + var(--cubeMinus))) rotateY(36deg);
                        }

                        :nth-child(13) {
                            transform: translateY(calc(var(--doubleCubeMinus) *6)) rotateY(72deg);
                        }

                        :nth-child(14) {
                            transform: translateY(calc(var(--doubleCubeMinus) *6 + var(--cubeMinus))) rotateY(108deg);
                        }

                        :nth-child(15) {
                            transform: translateY(calc(var(--doubleCubeMinus) *7)) rotateY(144deg);
                        }

                        ;
                    }

                    ;
                    // &--01, &--03, &--05, &--07 {
                    //     animation: spinCenter 3s 2s ease-out infinite;
                    //     background: none;

                    //     .X, .Y, .Z {
                    //         border-radius: 50%;
                    //         background: rgba(8, 46, 182, 0.329);
                    //         visibility: visible;
                    //     }
                    // }
                }
            }
        }
    }

    @keyframes spinXYZ {
        100% {
            -webkit-transform: rotate3d(1, -2, -1, 1turn);
            transform: rotate3d(1, -2, -1, 1turn);
        }
    }

    @keyframes spinCenter {
        100% {
            transform: translateZ(0px) rotateZ(360deg);
        }
    }

    @keyframes spinFront {
        100% {
            transform: translateZ(450px) rotateZ(360deg);
        }
    }

    @keyframes spinBack {
        100% {
            transform: translateZ(-450px) rotateZ(360deg);
        }
    }

    @keyframes pulse {
        100% {
            background: conic-gradient(from 90deg at 50% 50%, #aa4747 0%, #511717 51%, #aa4747 100%);
        }
    }
}

/* Rotate Sphere animation */
@keyframes animateSphere {
    0% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }

    50% {
        transform: rotateY(360deg) rotateX(360deg) rotateZ(0deg);
    }

    100% {
        transform: rotateY(720deg) rotateX(720deg) rotateZ(360deg);
    }
}

.scene {
    perspective: 1000px;
}

.container {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation-name: animateSphere;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.border {
    border: 1px solid black;
}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(204, 0, 0, 1);
}

/* X Axis */
.circle:nth-child(1) {
    transform: rotate3d(1, 0, 0, 0deg);
}

.circle:nth-child(2) {
    transform: rotate3d(1, 0, 0, 36deg);
}

.circle:nth-child(3) {
    transform: rotate3d(1, 0, 0, 72deg);
}

.circle:nth-child(4) {
    transform: rotate3d(1, 0, 0, 108deg);
}

.circle:nth-child(5) {
    transform: rotate3d(1, 0, 0, 144deg);
}

/* Y Axis */
.circle:nth-child(6) {
    transform: rotate3d(0, 1, 0, 0deg);
}

.circle:nth-child(7) {
    transform: rotate3d(0, 1, 0, 36deg);
}

.circle:nth-child(8) {
    transform: rotate3d(0, 1, 0, 72deg);
}

.circle:nth-child(9) {
    transform: rotate3d(0, 1, 0, 108deg);
}

.circle:nth-child(10) {
    transform: rotate3d(0, 1, 0, 144deg);
}

/* Z Axis */
.circle:nth-child(11) {
    transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 0deg);
}

.circle:nth-child(12) {
    transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 36deg);
}

.circle:nth-child(13) {
    transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 72deg);
}

.circle:nth-child(14) {
    transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 108deg);
}

.circle:nth-child(15) {
    transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 144deg);
}

/* Light effect */

/* Clip the sphere a bit */
.clip {
    clip-path: circle(66%);
}